.nav ul {
    display: flex;
    gap: 24px;
    list-style: none;
  }
  
  .nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
  }
  
  .logo a {
    font-size: 2rem;
    text-decoration: none;
    color: #4ea3ff;
    white-space: nowrap;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }
  
  .header {
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    padding: 16px 24px;
    border-radius: 18px;
  }
  



.news-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.news-card {
    background: #111;
    color: #fff;
    border-radius: 14px;
    overflow: hidden;
  
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .news-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    flex-shrink: 0;
  }
  
  .news-card h3,
  .news-card p,
  .news-card a {
    padding: 12px 16px;
  }
  
  .news-card h3 {
    font-size: 1.1rem;
    line-height: 1.4;
  }
  .news-card p {
    font-size: 0.95rem;
    line-height: 1.5;
    color: #ccc;

    display: -webikit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: calc(1.5em * 3);   /* pushes link to bottom */
  }
  
  .news-card a {
    text-decoration: none;
    color: #4ea3ff;
    font-weight: 500;
  }
  .news-card a:hover {
    text-decoration: underline;
  }
  


/* responsiveness */
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
  }
}
  @media (max-width: 600px) {
    .header {
      flex-direction: column;
      align-items: stretch;
      gap: 12px;
    }
  
    .logo {
      text-align: center;
    }
  
    .nav ul {
      justify-content: center;
      flex-wrap: wrap;
    }
  
    .login {
      text-align: center;
    }
  }
  
  @media (max-width: 900px) {
    .nav ul {
      gap: 16px;
    }
  
    .logo a {
      font-size: 1.6rem;
    }
  }
  

@media (max-width:1024px){
    #news-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:600px){
    #news-container{
     grid-template-columns: 1fr;
    }
    .news-card img{
        height: 160px;
    }
    .news-card h3{
        font-size: 1rem;
    }
    .news-card p{
        font-size:0.9rem;
    }
.logo{
    text-align: center;
  }

  .nav ul {
    justify-content: center;
    flex-wrap: wrap;
  }

  .login {
    text-align: center;
  }
}

@media (max-width: 900px) {
  .nav ul {
    gap: 16px;
  }

  .logo a {
    font-size: 1.6rem;
  }
}


@media (max-width:1024px){
  #news-container{
      grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width:600px){
  #news-container{
   grid-template-columns: 1fr;
  }
  .news-card img{
      height: 160px;
  }
  .news-card h3{
      font-size: 1rem;
  }
  .news-card p{
      font-size:0.9rem;
  }
}